// HEADER
.header {
	transform: translateZ(0);
	margin: 0 auto;
	background: transparent;
		@include breakpoint($tablet) {
			width: 100%;
/* 			width: 96%; */
			}// * BP
		@include breakpoint(67em) {
			}// * BP
	}


.sticky-navigation,.sticky-wrapper{
    background-color: $mustard;
	width: 100%;
	margin: 0 auto; 
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 999;
	@include breakpoint($tablet){
		position: absolute;
		bottom: 0;
		top: auto;
	}
}
.sticky-navigation.stuck {
    position: fixed;
    top: 0;
}

// .nav-center {
// 	background-color: $mustard;
// 	width: 100%;
// 	margin: 0 auto;
// 	height: 60px;
// 	position: absolute;
// 	bottom: 0;
// 	z-index: 999;
// }

.logotype {
	padding-left: 20px;
	padding-top: 18px;
	height: 60px;
	float: left;
	font-size: 0;
	@include breakpoint($tablet){
		width: 25%;
	}
	@include breakpoint($desktop){
		padding-top: 16px;
		padding-left: 60px;
	}	
	
	a {
		height: 30px;
	}
	svg {
		width: 200px;
		@include breakpoint($desktop){
		width: 250px;
		}
	}

}

#logo-over { 
	transition: 0.3s; 
}

svg:hover #logo-over { 
	fill: $cream; 
}

.main-nav {
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 6px;
}

// .logo-size {
// 	// position: relative;
// 	// top: 28%;
// 	// padding-left: 50px;
// 	// width: 300px;
// 	margin-top: 14px;
// 	width: 300px;
// 	padding-left: 80px;
// }

.social-right {
	display: none;
	height: 30px;
	@include breakpoint($tablet){
		display: inline-block;
		float: right;
		ul {
			margin: 12px auto;
			float: right;
			padding-right: 100px;
			@include breakpoint($tablet){
				margin: 15px auto;
				padding-right: 60px;
			}
		}
		li {
			display: inline-block;
			height: 33px;
			width: 33px;
			// height: 33px;
			color: black;
			@include breakpoint($tablet){
				width: 30px;
				height: 30px;
			}
		}
	}
}

.scroller{
	height:0;
	width:0;
	
}