# folders and files to be ignored by git

# Ignore sass-cache files.
*.sass-cache*

############
## Bones
############

Bones.esproj/

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

node_modules/

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.scssc

.nginx.configgzippart.txt

library/css/build/ie.css

library/css/build/ie.css.map

library/css/build/login.css

library/css/build/login.css.map

library/css/build/style.css

library/css/build/style.css.map

library/img/apple-icon-touch.png

library/img/custom-post-icon.png

library/img/grunticon.loader.txt

library/img/icon-nav.min.svg

library/img/icons.data.png.css

library/img/icons.data.svg.css

library/js/build/global.min.js

library/img/win8-tile-icon.png

library/img/preview.html

library/img/png/win8-tile-icon.png

library/img/png/login-logo.png

library/img/png/icon-nav.png

library/img/png/custom-post-icon.png

library/img/png/apple-icon-touch.png

library/img/nothumb.gif

library/img/nothing.gif

library/img/login-logo.png

library/img/icons.fallback.css

*.map

mb-starter.sublime-project

mb-starter.sublime-workspace
